<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Hot Deploy"
            id="mulesoft-hot-deploy">
      </category>
      <view
            name="Mulesoft Hot Deploy"
            icon="icons/sample.gif"
            category="mulesoft-hot-deploy"
            class="mulesofthotdeploy.views.MulesoftHotDeploy"
            id="mulesofthotdeploy.views.MulesoftHotDeploy">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="mulesofthotdeploy.views.MulesoftHotDeploy">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
